body {
  font-family: Arial;
  padding: 10px;
  width: 300px;
}
textarea {
  width: 100%;
  height: 50px;
}
button {
  margin-top: 10px;
  width: 100%;
}
#definition {
  margin-top: 10px;
  font-style: italic;
}
